/* Estilo para el encabezado */
header {
    background-color: #F0F0F0;
    border: 1px solid #00FFFF;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 20px;
}

horizontal-list {
  list-style: none; /* Quita los marcadores de lista predeterminados (puntos) */
  display: flex; /* Convierte la lista en un contenedor flex */
  justify-content: space-between; /* Distribuye los elementos horizontalmente con espacio entre ellos */
  padding: 0; /* Quita el espacio de relleno predeterminado de la lista */
}

horizontal-list li {
  margin: 0; /* Quita el margen entre elementos de la lista */
  padding: 10px; /* Añade relleno para espaciar los elementos */
  border: 1px solid #000; /* Añade un borde a cada elemento (opcional) */
}

/* Estilo para la galería de películas y recomendaciones */
.movie-gallery,
.recommended-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie,
.recommended {
    width: 30%;
    margin: 10px;
    padding: 10px;
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
}

.movie img,
.recommended img {
    max-width: 100%;
    height: auto;
    display: block;
}

.movie-info,
.recommended-info {
    text-align: center;
}

/* Estilo para el pie de página */
footer {
    background-color: #F0F0F0;
    text-align: center;
    padding: 10px;
}
