/* Estilo para el encabezado */
header {
  background-color: #333; /* Fondo oscuro */
  color: #fff; /* Texto blanco */
  padding: 10px; /* Espaciado interno */
  text-align: center; /* Texto centrado */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra */
}


/* Estilo para el contenido principal */
.main-content {
  padding: 20px; /* Espaciado para el contenido principal */
}

/* Estilo para el pie de página (opcional) */
footer {
  background-color: #333; /* Fondo oscuro */
  color: #fff; /* Texto blanco */
  padding: 10px; /* Espaciado interno */
  text-align: center; /* Texto centrado */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra */
}

/* Estilo para los enlaces */
a {
  color: #007bff; /* Enlaces azules */
  text-decoration: none; /* Sin subrayado */
}

a:hover {
  text-decoration: underline; /* Subrayado en el hover */
}
